bottle<0.13
requests
python-keystoneclient
python-ironic-inspector-client
timeout-decorator
keystoneauth1
python-novaclient
contrail-config-common
contrail-api-client
gevent
kazoo
netaddr<1
sandesh==0.1.dev0
sandesh-common
