bottle
future
six
requests
python-keystoneclient
keystoneauth1
contrail-config-common
contrail-api-client
gevent
kazoo
netaddr
sandesh==0.1.dev0
sandesh-common
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
