contrail-config-common
contrail-api-client
sandesh-common
gevent
kombu
timeout-decorator
subprocess32
jsonschema
inflection
pyroute2
future
configparser
pysnmp
pycrypto
sandesh==0.1.dev0
xmltodict==0.12.0
