contrail-config-common
contrail-api-client
sandesh-common
gevent
kombu
timeout-decorator
subprocess32
jsonschema
inflection
pycrypto
pyroute2
sandesh==0.1.dev0
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
