stestr
os-testr
junitxml
python-subunit==1.4.0
testrepository==0.0.20
flexmock==0.10.4
mock
pyYAML
python-keystoneclient==3.22.0
python-novaclient==16.0.0
keystoneauth1<5.1.0
webtest==2.0.34
contrail-api-server==0.1.dev0
python-swiftclient==3.9.0
ansible==2.8.2
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=42.0.8 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
oslo.utils>=4.8.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
waitress>=2.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
