timeout-decorator
bitarray
bottle<0.13
cassandra-driver
configparser
contrail-api-client
gevent
greenlet
kazoo
kombu
requests
sandesh==0.1.dev0
sandesh-common
simplejson
stevedore
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
