requests
bitstring
netaddr<1
gevent
greenlet
keystoneauth1
contrail-config-common
contrail-api-client
sandesh==0.1.dev0
sandesh_common
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
