requests
bitstring
netaddr
gevent
greenlet
contrail-config-common
contrail-api-client
future
six
sandesh==0.1.dev0
sandesh_common
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
