setuptools<81 # novaclient uses pkg_resources
contrail-api-server==0.1.dev0
schema-transformer==0.1.dev0
svc-monitor==0.1.dev0
stestr
os-testr
junitxml
psutil>=0.4.1
kombu
python-novaclient==16.0.0
testtools==2.4.0
mock
flexmock==0.10.4
python-subunit
WebTest==2.0.34
pyOpenSSL
