contrail-config-common
contrail-api-client
sandesh==0.1.dev0
sandesh-common
keystonemiddleware
keystoneauth1
gevent
netaddr
python-keystoneclient
netifaces
bottle
stevedore
kazoo
pycrypto
future
six
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
