contrail-config-common==0.1.dev0
contrail-api-client==0.1.dev0
sandesh==0.1.dev0
sandesh_common==0.1.dev0
keystonemiddleware
keystoneauth1
gevent
netaddr<1
python-keystoneclient
netifaces
bottle<0.13
stevedore
kazoo
pycrypto
uwsgi
