lxml
gevent
netaddr
attrdict
bitarray
psutil
python-novaclient
keystoneauth1
kombu
netifaces
bottle
stevedore
timeout-decorator
docker
inflection
jsonschema
cityhash
contrail-config-common
vine
sandesh==0.1.dev0
