lxml
gevent
netaddr
attrdict
bitarray
psutil
python-novaclient
keystoneauth1
kombu
netifaces
bottle
stevedore
timeout-decorator
docker
inflection
jsonschema
pyhash
contrail-config-common
vine
sandesh==0.1.dev0
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
