lxml
gevent
netaddr
attrdict
bitarray
psutil
python-novaclient
keystoneauth1
kombu
netifaces
bottle
stevedore
timeout-decorator
docker
inflection
jsonschema
cityhash
contrail-config-common
sandesh==0.1.dev0
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
