sandesh
sandesh-common
gevent
greenlet
python-keystoneclient
python-ironicclient
python-ironic-inspector-client
python-novaclient
keystoneauth1
netaddr<1
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
